/* src/components/Attraction/Attractions.module.css */

.statsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
  justify-content: center;
}

.card {
  flex: 1 1 250px;
  padding: 16px;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

.statLabel {
  font-size: 14px;
  color: var(--text-color);
}

.statValue {
  font-size: 24px;
  font-weight: 500;
}

.filtersContainer {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.searchContainer {
  width: 100%;
  max-width: 400px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  font-size: 1em;
}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.addButton,
.hideVisitedButton {
  flex: 1 1 150px;
}
